<nav class="navbar navbar-light" style="background-color: #ffffff;">
<!-- <nav class="navbar navbar-light"> -->
    <ul class="nav" role="tablist">
        <!-- Logo -->
        <li class="nav-item">
            <a class="img-responsive" href="#"><img class="navbar-logo" src="images/mediumLogoCut.png"  alt="ExamGenerator"></a>
        </li>
        <div class="verticalLine"></div>
        <li class="nav-item">
            <a class="nav-link navbar-toggle btn-nav" id="home-tab" href="/">Home</a>
        </li>
        <!-- Navbar items -->
        <li class="nav-item">
            <a class="nav-link navbar-toggle btn-nav" id="folders-tab" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-toggle btn-nav" id="folders-tab" href="/newExam">Create exam</a>
        </li>
        
        <!-- <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle navbar-toggle btn-nav" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                Exam
            </a>
            <div class="dropdown-menu dropdown-menu-right" id="navbarDropdownMenuQuestionTab" >
                <a class="dropdown-item btn-nav" href="http://api.examgenerator.me/newExam">New exam</a>
                <a class="dropdown-item btn-nav" href="http://api.examgenerator.me/newQuestion">Exams</a>
                <a class="dropdown-item btn-nav" href="#">Edit</a>
            </div>
        </li> -->


        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle navbar-toggle btn-nav" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                Questions
            </a>
            <div class="dropdown-menu dropdown-menu-right" id="navbarDropdownMenuQuestionTab" >
                <!-- <a class="dropdown-item btn-nav" href="http://api.examgenerator.me/newTemplate">New template</a> -->
                <a class="dropdown-item btn-nav" href="/newQuestion">New question</a>
                <a class="dropdown-item btn-nav" href="/newNewTemplate">New template</a>
            </div>
        </li>
    </ul>
    <!-- Dropdown menu -->
    <ul class="nav nav-pills navbar-right">
        <li class="dropdown" >
            <a class="dropdown dropdown-toggle btn-nav" href="#" id="rightDropdownBtn" role="button" data-toggle="dropdown">
                <!-- <span class="glyphicon glyphicon-user"></span> -->
                <i class="fa fa-user-circle-o fa-2x " aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" id="navbarDropdownMenuRight">
                <a class="dropdown-item btn-nav" href="#">Profile</a>
                <a class="dropdown-item btn-nav" href="/logout">Log out</a>
            </div>
        </li>
    </ul>    
</nav>





