<nav class="navbar navbar-light" style="background-color: #ffffff;">
    <!-- <nav class="navbar navbar-light"> -->
        <ul class="nav" role="tablist">
            <!-- Logo -->
            <li class="nav-item">
                <a class="img-responsive" href="#"><img class="navbar-logo" src="images/mediumLogoCut.png"  alt="ExamGenerator"></a>
            </li>
            <div class="verticalLine"></div>
            <!-- <li class="nav-item">
                <a class="nav-link navbar-toggle btn-nav" id="home-tab" data-toggle="tab" href="#home" role="tab">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-toggle btn-nav" id="folders-tab" data-toggle="tab" href="http://api.examgenerator.me/profile">Profile</a>
            </li>
            
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle navbar-toggle btn-nav" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    Exam
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="navbarDropdownMenuQuestionTab" >
                    <a class="dropdown-item btn-nav" href="http://api.examgenerator.me/newExam">New exam</a>
                    <a class="dropdown-item btn-nav" href="#">Edit</a>
                </div>
            </li>
    
    
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle navbar-toggle btn-nav" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    Questions
                </a>
                <div class="dropdown-menu dropdown-menu-right" id="navbarDropdownMenuQuestionTab" >
                    <a class="dropdown-item btn-nav" href="http://api.examgenerator.me/newTemplate">New template</a>
                    <a class="dropdown-item btn-nav" href="http://api.examgenerator.me/newQuestion">New question</a>
                    <a class="dropdown-item btn-nav" href="#">Edit</a>
                </div>
            </li> -->
        </ul> 


        <!-- Dropdown menu -->
        <ul class="nav nav-pills navbar-right" style="margin-right: 100px;">    
        <!-- <div style="margin-right: 100px;"> -->
            <a class="btn-nav nav-item nav-signin-buttons-align" href="#forms"  >Sign in</a>
            <div class="verticalLine"></div>
            <a class="btn-nav nav-item nav-signin-buttons-align"href="#forms">Sign up</a>
        </ul>    
        <!-- </div> -->
    </nav>
    
    
    
    
    
    